.Contact-container {
  display: flex;
  height: 72px;
}

.Contact-container:hover {
  background-color: #f4f5f5;
  cursor: pointer;
}

.Contact-container .Contact-img {
  flex: 1;
  padding: 1rem;
}

.Contact-container .Contact-img img {
  border-radius: 50%;
  width: 100%;
  object-fit: contain;
}

.Contact-container .Contact-data {
  flex: 6;
  text-align: left;
  padding-top: 1rem;
}

.Contact-container .Contact-date {
  flex: 2;
  padding-top: 1rem;
  padding-right: .5rem;
}

/*#e5ddd5*/
